<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        </div>
        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{{ path('dashboard') }}" class="nav-link {{ dashbord_link is defined ? 'active':'' }}">
                        <i class="fas fa-home nav-icon"></i>
                        <p>{{ 'bo.dashboard'|trans }}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('user_index') }}" class="nav-link {{ users_link is defined ? 'active':'' }}">
                        <i class="fas fa-user nav-icon"></i>
                        <p>{{ 'bo.user'|trans }}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('voiture_index') }}" class="nav-link {{ voiture_link is defined ? 'active':'' }}">
                        <i class="fas fa-car nav-icon"></i>
                        <p>{{ 'bo.voiture'|trans }}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('modele_index') }}" class="nav-link {{ modele_link is defined ? 'active':'' }}">
                        <i class="fas fa-book nav-icon"></i>
                        <p>{{ 'bo.model'|trans }}</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>