{{ form_start(form,{'attr':{'id':'voiture_form'}}) }}
<div class="card-body col-6">
        {{ form_row(form.immatriculation) }}
        {{ form_row(form.couleur) }}
        {{ form_row(form.kilometrage) }}
        {{ form_row(form.modele) }}
    <div class="form-group mb-0">
        <button type="submit" class="btn btn-primary">{{ 'bo.save'|trans }}</button>
    </div>
</div>
{{ form_end(form) }}
